@tailwind base;
@tailwind components;
@tailwind utilities;

. CardContainer{
    width: 2000px;
    margin: 20px auto;
    columns:4;
    column-gap: 40px;
}
.CardContainer .boxCard{

    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}
.CardContainer .boxCard img{
    max-height: fit-content;
    max-width: 100%;
    border-radius: 15px;
}

@media (max-width: 1900px) {
    .CardContainer{
        width: calc(100% - 40px);
        columns: 3;
    }
}@media (max-width: 768px) {

    .CardContainer{
        width: calc(100% - 40px);

        columns: 2;
    }
}@media (max-width: 480px) {
    .CardContainer{
        width: calc(100% - 40px);

        columns: 1;
    }
}